<div class="container-fluid SecondMenu">
    <div class="row mt-4 ">
        <div class="col-md-9 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <i onclick="toggolmenu('nav-icon')" id="nav-icon" style="padding-left: 10px;" class="fa fa-bars " aria-hidden="true"></i>
                <img src="AparatImages/Aparat-Logo-LimooGraphic.png" alt="">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </div>

            <div class="searchBox2">
                <form action="#" method="get">
                    <span class="fa fa-search"></span>
                    <input type="text" name="name" placeholder="جستجو ویدیو ها ، رویداد ها و شخصیت ها ...">
                </form>
            </div>

        </div>
        <div class="col-md-3 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-info">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    بارگذاری ویدیو
                </button>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="loggein">
                        <i class="zmdi zmdi-account"></i><a href="/UserPanel"> @User.Identity.Name ، خوش آمدید </a>
                        <a asp-action="SignOut" asp-controller="Account"> خروج </a>

                    </div>
                }

                            else
                            {
                    <a class="login" asp-action="Login" asp-controller="account">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    ورود
                </a>
                            }
            </div>
        </div>
    </div>
</div>