<div class="container-fluid SecondMenu">
    <div class="row mt-4 ">
        <div class="col-md-9 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <i onclick="toggolmenu('nav-icon')" id="nav-icon" style="padding-left: 10px;" class="fa fa-bars " aria-hidden="true"></i>
                <img src="AparatImages/Aparat-Logo-LimooGraphic.png" alt="">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </div>

            <div class="searchBox2">
                <form action="#" method="get">
                    <span class="fa fa-search"></span>
                    <input type="text" name="name" placeholder="جستجو ویدیو ها ، رویداد ها و شخصیت ها ...">
                </form>
            </div>

        </div>
        <div class="col-md-3 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-info">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    بارگذاری ویدیو
                </button>
                <div class="login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    ورود
                </div>
            </div>
        </div>
    </div>
</div>