<div class="container-fluid FirstMenuMobile">
    <div class="row mt-4">
        <div class="col-12 ">
            <div class="searchBox">
                <form action="#" method="get">
                    <span class="fa fa-search"></span>
                    <input type="text" name="name" placeholder="جستجو ویدیو ها ، رویداد ها و شخصیت ها ...">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </form>
            </div>
        </div>
    </div>
</div>