<div class="asideMenu">
    <div class="headerSideMenu">
        <div class="menuBox">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>صفحه نخست</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <span>لیست پخش زنده</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>سابقه تماشا</span>
        </div>
    </div>
    <div class="headerSideMenu">
        <span class="moreSection">بخش های دیگر</span>
        <div class="menuBox">
            <i class="fa fa-gamepad" aria-hidden="true"></i>
            <span>آپارات گیم</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <span>آپارات اسپرت</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <span>آپارات کودک</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span>فیلیمو مدرسه</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-film" aria-hidden="true"></i>
            <span>فیلم و سریال</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-music" aria-hidden="true"></i>
            <span>آپارات موزیک</span>
        </div>
    </div>
    <div class="headerSideMenu">
        <div class="menuBox">
            <i class="fa fa-question" aria-hidden="true"></i>
            <span>پشتیبانی</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>بلاگ آپارات</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span>قوانین آپارات</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-money" aria-hidden="true"></i>
            <span>درامدزایی از آپارات</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-microphone" aria-hidden="true"></i>
            <span>تبلیغات در آپارات</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span>حق نشر</span>
        </div>
        <div class="menuBox">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span>درباره ما</span>
        </div>
    </div>
</div>