
@{
    ViewData["Title"] = "BoxNew";
}

<div class="BoxContainer">
    <div class="BoxTitle">
        <span class="BoxName">تازه ها</span>
        <a href="#" class="showAll">
            نمایش همه
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </div>

    <div style="margin-top: 17px;" id="owlCarousel2" class="owl-carousel owl-theme ">
        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/LatestBox/m1.webp" alt="">
                <img class="img2" src="AparatImages/LatestBox/m1.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">بوکس سرنوشت ساز</a>
                <div class="MovieTitle">
                    <span>2024</span>
                    <span>آمریکا</span>
                    <span>درام</span>
                    <span>ورزشی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/LatestBox/m2.webp" alt="">
                <img class="img2" src="AparatImages/LatestBox/m2.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">همه چیز متفاوت خواهد بود</a>
                <div class="MovieTitle">
                    <span>2024</span>
                    <span>آمریکا</span>
                    <span>وحشت</span>
                    <span>علمی تخیلی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/SpecialBox/m1.webp" alt="">
                <img class="img2" src="AparatImages/SpecialBox/m1.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">پلتفرم دو</a>
                <div class="MovieTitle">
                    <span>2024</span>
                    <span>اسپانیا</span>
                    <span>وحشت</span>
                    <span>علمی تخیلی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/LatestBox/m3.webp" alt="">
                <img class="img2" src="AparatImages/LatestBox/m3.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">دریاچه کدو</a>
                <div class="MovieTitle">
                    <span>2024</span>
                    <span>آمریکا</span>
                    <span>درام</span>
                    <span>رازآلود</span>
                </div>
            </div>
        </div>

    </div>
</div>

