
@{
    ViewData["Title"] = "BoxPopular";
}

<div class="BoxContainer">
    <div class="BoxTitle">
        <span class="BoxName">محبوب ها</span>
        <a href="#" class="showAll">
            نمایش همه
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </div>
    <div style="margin-top: 17px;" id="owlCarousel3" class="owl-carousel owl-theme ">
        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/Favorite/m1.webp" alt="">
                <img class="img2" src="AparatImages/Favorite/m1.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">مردی برای تمام فصول</a>
                <div class="MovieTitle">
                    <span>1996</span>
                    <span>انگلیس</span>
                    <span>بیوگرافی</span>
                    <span>درام</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/Favorite/m2.webp" alt="">
                <img class="img2" src="AparatImages/Favorite/m2.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">ربات های قاتل</a>
                <div class="MovieTitle">
                    <span>2020</span>
                    <span>آمریکا</span>
                    <span>اکشن</span>
                    <span>علمی تخیلی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/Favorite/m3.webp" alt="">
                <img class="img2" src="AparatImages/Favorite/m3.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">ویکرام</a>
                <div class="MovieTitle">
                    <span>2022</span>
                    <span>هند</span>
                    <span>اکشن</span>
                    <span>جنایی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/Favorite/m4.webp" alt="">
                <img class="img2" src="AparatImages/Favorite/m4.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">طوفان چرخشی</a>
                <div class="MovieTitle">
                    <span>2023</span>
                    <span>آمریکا</span>
                    <span>اکشن</span>
                    <span>ماجراجویی</span>
                </div>
            </div>
        </div>

    </div>
</div>

