
@{
    ViewData["Title"] = "BoxSpecial";
}

<div class="BoxContainer">
    <div class="BoxTitle">
        <span class="BoxName">ویژه</span>
        <a href="http://127.0.0.1:5501/AllMovies.html" class="showAll">
            نمایش همه
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </div>

    <div style="margin-top: 17px;" id="owlCarousel" class="owl-carousel owl-theme ">
        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/SpecialBox/m1.webp" alt="">
                <img class="img2" src="AparatImages/SpecialBox/m1.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">شکستن بانکوک: بهشت و جهنم</a>
                <div class="MovieTitle">
                    <span>2024</span>
                    <span>تایلند</span>
                    <span>اکشن</span>
                    <span>جنایی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/SpecialBox/m2.webp" alt="">
                <img class="img2" src="AparatImages/SpecialBox/m2.webp" alt="">
                <div class="Time">
                    <span>45:59</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">گل یا پوچ</a>
                <div class="MovieTitle">
                    <span>1403</span>
                    <span>ایران</span>
                    <span>سرگرمی</span>
                    <span>ریلیتی شو</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/SpecialBox/m3.webp" alt="">
                <img class="img2" src="AparatImages/SpecialBox/m3.webp" alt="">
                <div class="Time">
                    <span>43:04</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">بازنده</a>
                <div class="MovieTitle">
                    <span>1403</span>
                    <span>ایران</span>
                    <span>راز آلود</span>
                    <span>جنایی</span>
                </div>
            </div>
        </div>

        <div class="item BoxItem">
            <div class="ImageBox">
                <img class="img1" src="AparatImages/SpecialBox/m4.webp" alt="">
                <img class="img2" src="AparatImages/SpecialBox/m4.webp" alt="">
                <div class="Time">
                    <span>1:02:03</span>
                </div>
            </div>
            <div class="Description">
                <a href="http://127.0.0.1:5501/FilmDetails.html">لالایی</a>
                <div class="MovieTitle">
                    <span>1403</span>
                    <span>ایران</span>
                    <span>خانوادگی</span>
                    <span>سرگرمی</span>
                </div>
            </div>
        </div>

    </div>
</div>

